nav.navbar.navbar-expand-lg.navbar-light.bg-dark.justify-content-between.fixed-top
    img(class="loading", src="images/loading.gif")
    button.navbar-toggler(data-toggle="collapse", data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNavDropdown.justify-content-between
        ul.navbar-nav
            li.nav-item.active
                a.nav-link(href="#") #{title}
                    span.sr-only (currently)
            li.nav-item
                a.nav-link(href="/") Home
            li.nav-item
                a.nav-link(href="/admin/list") List
            li.nav-item
                if user
                    a.nav-link(href="/admin/movie") Admin
                else
                    a.nav-link(href="#", data-toggle="modal", data-target="#signInModal") Admin
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle#navbarDropdownMenuLink(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") More Info
                .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                    a.dropdown-item(href="#") Action One
                    a.dropdown-item(href="#") Action Two
                    a.dropdown-item(href="#") Action Three
        form.form-inline.form-search#form-search(method="GET", action="/search")
            input.form-control.mr-sm-2.input-content(type="search", placeholder="Search", aria-label="Search", name="q", required)
            button.btn.btn-outline-success.btn-search(type="submit") Search
    if user
        p.navbar-text.navbar-right
            a.navbar-link Welcome,
                .navbar-link-name
                    a(href="/account") &nbsp#{user.name}&nbsp
            span &nbsp;|&nbsp;
            a.navbar-link(href="/logout") LogOut
                //img(src='images/logout.png')
    else
        p.navbar-text.navbar-right
            a.navbar-link(href="#", data-toggle="modal", data-target="#signUpModal") SignUp
                //img(src='images/signup.png')
            span &nbsp;|&nbsp;
            a.navbar-link(href="#", data-toggle="modal", data-target="#signInModal") LogIn
                //img(src='images/login_user.png')
#signUpModal.modal.fade
    .modal-dialog
        .modal-content
            form#signUpForm
                .modal-header SignUp
                .modal-body
                    .form-group
                        label(for="signUpName") Name
                        input#signUpName.form-control(name="user[name]", type="text", required)
                    .form-group
                        label(for="signUpPassWord") Password
                        input#signUpPassWord.form-control(name="user[password]", type="password", required)
                .modal-footer
                    span.remind-text-signup
                    button.btn.btn-danger(type="button", data-dismiss="modal") Close
                    button.btn.btn-signUp.btn-success(type="submit") Submit
#signInModal.modal.fade
    .modal-dialog
        .modal-content
            form#signInForm
                .modal-header LogIn
                .modal-body
                    .form-group
                        label(for="signInName") Name
                        input#signInName.form-control(name="user[name]", type="text", required)
                    .form-group
                        label(for="signInPassWord") Password
                        input#signInPassWord.form-control(name="user[password]", type="password", required)
                .modal-footer
                    span.remind-text
                    button.btn.btn-danger(type="button", data-dismiss="modal") Close
                    button.btn.btn-signIn.btn-success(type="submit") Submit
nav.navbar.fixed-bottom.navbar-light.bg-dark.justify-content-center
    span.footer-desc COPYRIGHT © 2018  &nbsp Made by jwm