.container
    .row
        .page-header
            h2 #{title}
            img(class="loading", src="https://cdn.shopify.com/s/files/1/2350/7085/files/Spinner-1s-200px.gif?4114847709184161607")
.navbar.navbar-default.navbar-fixed-bottom
    .container
        .navbar-header
            a.navbar-brand(href="/")
        p.navbar-text.navbar-right
            a.navbar-link(href="#", data-toggle="modal", data-target="#signUpModal") 注册
            span &nbsp;|&nbsp;
            a.navbar-link(href="#", data-toggle="modal", data-target="#signInModal") 登录
#signUpModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST", action="/user/signUp")
                .modal-header 注册
                .modal-body
                    .form-group
                        label(for="signUpName") 用户名
                        input#signUpName.form-control(name="user[name]", type="text", required)
                    .form-group
                        label(for="signUpPassWord") 密码
                        input#signUpPassWord.form-control(name="user[password]", type="password", required)
                .modal-footer
                    button.btn.btn-danger(type="button", data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 提交
#signInModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST", action="/user/signIn")
                .modal-header 登录
                .modal-body
                    .form-group
                        label(for="signUpName") 用户名
                        input#signInName.form-control(name="user[name]", type="text", required)
                    .form-group
                        label(for="signInPassWord") 密码
                        input#signInPassWord.form-control(name="user[password]", type="password", required)
                .modal-footer
                    button.btn.btn-danger(type="button", data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 提交