extends ../layout
block content
    .container
        .row
            if user
                table.table.table-hover.table-bordered
                    thead
                        tr
                            th name
                            th password
                    tbody
                        tr
                            td #{user.name}
                            td #{user.password}
