extends ../layout

block content
    #carouselExampleIndicators.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
            li.active(data-target="#carouselExampleIndicators", data-slide-to="0")
            li(data-target="#carouselExampleIndicators", data-slide-to="1")
            li(data-target="#carouselExampleIndicators", data-slide-to="2")
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src="images/slide1.jpg", alt="First slide")
            .carousel-item
                img.d-block.w-100(src="images/slide2.png", alt="Second slide")
            .carousel-item
                img.d-block.w-100(src="images/slide3.jpg", alt="Third slide")
        a.carousel-control-prev(href="#carouselExampleIndicators", role="button", data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Previous
        a.carousel-control-next(href="#carouselExampleIndicators", role="button", data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Next
    .container
        .row
            each item in movies
                .col-md-3
                    .thumbnail
                        a(href="/movie/" + item._id)
                            img(class="img" src= item.photo, alt= item.title, width="100%")
                        .caption
                            h5 #{item.title}
                            h4 $#{item.price}
                            p: a.btn.btn-info(href="/movie/" + item._id, role="button") VIEW DETAILS

