extends ../layout

block content
    .container
        .row
            each item in movies
                .col-md-6
                    .thumbnail
                        a(href="/movie/" + item._id)
                            img(class="img" src= item.photo, alt= item.title, width="100%")
                        .caption
                            h4 #{item.title +"-"+ item.doctor}
                            p: a.btn.btn-primary(href="/movie/" + item._id, role="button") 观看预告片

